* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  /* FULL BACKGROUND GAME */
  background: url("../images/backgame.jpg") no-repeat center/cover;
}

.wrapper {
  padding: 20px;

  /* BỎ NỀN TRẮNG */
  background: transparent;

  border-radius: 10px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 15px;
}

.card {
  list-style: none;
  height: 100px;
  width: 100px;
  cursor: pointer;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
}

.card.shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-13px); }
  40% { transform: translateX(13px); }
  60% { transform: translateX(-8px); }
  80% { transform: translateX(8px); }
}

.view {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  transition: transform 0.3s linear;
}

.front {
  border: 2px solid #6b4ce6;
}

.back {
  transform: rotateY(180deg);
}

.card.flip .front {
  transform: rotateY(180deg);
}

.card.flip .back {
  transform: rotateY(0deg);
}

.back img {
  width: 70%;
}
